<div id="header">
	<div id="logo">
		<p><%= link_to image_tag('dry-development-logo.gif'), :controller => 'home' %></p>
	</div>
	<div id="menu" class="rounded"><%= render :partial => 'shared/menu' %></div>
	<!-- <div id="admin-header">
		<%#= render :partial => 'shared/admin_menu'%>
	</div> -->
</div>