<div class="primary">
	<h1>About</h1>
	<div class="column first">
		<h2>Who</h2>
		<p class="rounded-bottom"><strong>Dry Development</strong> is a web development company created by me, <strong><%= link_to "Doug R Yoder", "http://www.linkedin.com/in/douglasryoder", :target => '_blank' %></strong>.  Not only does DRY represent my initials, but it, also, represents the <strong><%= link_to 'Don&rsquo;t Repeat Yourself', 'http://en.wikipedia.org/wiki/Don%27t_repeat_yourself', :target => '_blank' %></strong> programming mantra that I work at to adhere to.</p>
		<h2>Where</h2>
		<p>Originally from Ontario, Canada and Ohio, I am currently changing the game in the San Francisco Bay Area.</p>
	</div>
	<div class="column">
		<h2>What</h2>
		<p>I provide web development services to designers, programmers, agencies and businesses.  I help clients and end users reach their full potential by bringing a best-practice, framework based approach to the table.</p>
		<h2>Why</h2>
		<p>I do it because I love it.  Period.</p>
		<h2>How</h2>
		<p>Ruby on Rails, MySQL, HTML, CSS, JS, TextMate, VIM, Sequel Pro</p>
	</div>
</div>
<div class="secondary">
	<%= image_tag 'doug-yoder-2.jpg', :alt => 'Doug Yoder'%>
</div>
<div class="clear"></div>
