<div class="primary">
	<h1>About</h1>
	<div class="column first">
		<h2>Who</h2>
		<p class="rounded-bottom">Dry Development is a web development  company spawned from me, <%= link_to "Doug R Yoder", "http://www.linkedin.com/in/douglasryoder", :target => '_blank' %>.  Not only does DRY represent my initials, but it, also, represents the <%= link_to 'Don&rsquo;t Repeat Yourself', 'http://en.wikipedia.org/wiki/Don%27t_repeat_yourself', :target => '_blank' %> programming mantra that I work at to adhere to.</p>
		<h2>Where</h2>
		<p>I currently work from home in the Akron/Canton, Ohio area.  But I can frequently be found at MuggsWiggz coffee shop in Downtown Canton.</p>
	</div>
	<div class="column">
		<h2>What</h2>
		<p>I provide web development services to designers, programmers, agencies and businesses.  I help clients and end users reach their full potential by bringing a best-practice, framework based approach to the table.</p>
		<h2>Why</h2>
		<p>I do it because I love it.  Period.</p>
		<h2>How</h2>
		<p>Coupled with a team of inspired creative partners, and my creative and technical knowledge, I am able to develop high quality web solutions at any scale.</p>
	</div>
</div>
<div class="secondary">
	<%= image_tag 'doug-yoder-2.jpg', :alt => 'Doug Yoder'%>
</div>
<div class="clear"></div>
