# =======================
# GITHUB SETTINGS
# =======================
default_run_options[:pty] = true
set :repository,  "git@github.com:username/your-repo.git" #GitHub clone URL
set :scm, "git"
set :scm_passphrase, "pa$$w0rd" #This is the passphrase for the ssh key on the server deployed to
set :branch, "master"
set :scm_verbose, true

# =======================
#DREAMHOST SETTINGS
# =======================
set :user, 'username' #Dreamhost username
set :domain, 'server.dreamhost.com'  # Dreamhost servername where your account is located 
set :project, 'projectname'  # Your application as its called in the repository
set :application, 'sub.domain.com'  # Your app's location (domain or sub-domain name as setup in panel)
set :applicationdir, "/home/#{user}/#{application}"  # The standard Dreamhost setup

# =======================
# DEPLOYMENT SETTINGS
# =======================
set :deploy_to, applicationdir
set :deploy_via, :remote_cache

# =======================
# ROLES
# =======================
role :app, domain
role :web, domain
role :db,  domain, :primary => true

# =======================
# ADDITIONAL SETTINGS
# =======================
default_run_options[:pty] = true  # Forgo errors when deploying from windows
# ssh_options[:keys] = %w(/Path/To/id_rsa)            # If you are using ssh_keys
set :chmod755, "app config db lib public vendor script script/* public/disp*"
set :use_sudo, false

after "deploy:symlink" do
	run "cp #{applicationdir}shared/database.yml #{applicationdir}current/config/database.yml"
	run "touch #{applicationdir}current/tmp.restart.txt"
end

